*{
  font-family: "Helvetica";
}

html {
  background-color: #595959;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #595959;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
}

p {
  text-align: center;
  font-weight: 600;
  color: #F2F2F2;
}

h4 {
  font-size: 1rem;
  color: #F2F2F2;
}
